/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/global.css */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7fafc;
    color: #2d3748;
    min-height: 100vh;
  }
  
  button {
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.9;
  }
  